apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-db
  namespace: staging
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_USER
          value: "postgres"
        - name: POSTGRES_DB
          value: "app_db"
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-admin-pass
              key: PASSWORD
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-svc
  namespace: staging
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432